
/* Alignment
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.push-left {
    float: left
}

.push-right {
    float: right
}

.push-center {
    margin: 0 auto;
    float: none
}


.v-top {
    vertical-align: top
}

.v-middle {
    vertical-align: middle
}

.v-bottom {
    vertical-align: bottom
}


/* Content Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.center-content {
    text-align: center
}

.left-content {
    text-align: left
}

.right-content {
    text-align: right
}

.lowercase {
    text-transform: lowercase
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}


/* Visibility
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.hide {
    display: none
}

.show {
    display: inherit
}

.hidden {
    visibility: hidden
}

.visible {
    visibility: visible
}


/* No Stuffs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.no-border {
    border: none
}

.no-radius {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

.no-bg {
    background-color: none
}

.no-padding {
    padding: 0
}

.no-margin {
    margin: 0
}

.no-list-style {
    list-style-type: none
}

.no-float {
    float: none
}

.no-height {
    height: 0;
    max-height: 0
}

.no-width {
    width: 0;
    max-width: 0
}

.no-opacity {
    opacity: 0
}



// /* Colors
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// .color-white {
//     color: #fff
// }

// .color-black {
//     color: #333
// }

// .color-muted {
//     color: rgba(0, 0, 0, .5)
// }

// .color-muted-inverse {
//     color: rgba(255, 255, 255, .5)
// }


// .color-error {
//     color: red
// }

// .color-info {
//     color: #3F42F6
// }

// .color-success {
//     color: #2AC171
// }


// .bg-black {
//     background-color: #222
// }

// .bg-white {
//     background-color: #fff
// }

// .bg-muted {
//     background-color: rgba(0, 0, 0, .15)
// }

// .bg-muted-inverse {
//     background-color: rgba(255, 255, 255, .75)
// }

// .bg-error {
//     background-color: red
// }

// .bg-info {
//     background-color: #3F42F6
// }

// .bg-success {
//     background-color: green
// }
