
/* Alignments
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.push-left {
    float: left
}

.push-right {
    float: right
}

.push-center {
    margin: 0 auto;
    float: none
}


.v-top {
    vertical-align: top
}

.v-middle {
    vertical-align: middle
}

.v-bottom {
    vertical-align: bottom
}
