
/* Text Stylings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.center-content {
    text-align: center;
}

.left-content {
    text-align: left;
}

.right-content {
    text-align: right;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}
