meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="homescreen_me")
meta(name="twitter:title", content="{{fullname}}'s Homescreen")
meta(name="twitter:description", content="{{phone_desc}}")
meta(name="twitter:image", content="{{phone_2x}}")
meta(name="twitter:url", content="https://homescreen.me/{{username}}")